body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.column {
    position: fixed;
    left: 40%;
    top: 48%;
    margin-top: -100px;
    margin-left: -100px;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 8px;
    
}


.product {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/*
.card {
    margin:8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     -webkit-transition: all 0.5s ease; 
            -moz-transition: all 0.5s ease; 
            -o-transition: all 0.5s ease; 
            -ms-transition: all 0.5s ease; 
            transition: all 0.5s ease; 
}
.card:hover {
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    
}
*/
.about-section {
    margin-top: 80px;
    padding: 50px;
    text-align: center;
    background-image: url(leafb.png); background-size: cover;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


.card:hover{
    margin:8px;
    animation-name: cards;
    animation-duration: 0.5s;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


.card {
    margin:8px;
    animation-name: cards-reverse;
    animation-duration: 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes cards {
    0% {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); transform: scale(1);}
    100% {box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2); transform: scale(1.05);}

    
}

@keyframes cards-reverse {
    0% {box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2); transform: scale(1.05);}
    1000% {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);transform: scale(1);}

}
