@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00a03a;
  font-size: 20px;
  text-decoration: none;
}

.logo:hover {
  color: #00a03a;
}
.buttons {
  margin: 20px;
}

.signIn {
  border-radius: 20px;
  background-color: #fff;
  color: #4e4e4e;
  text-decoration: none;
  padding: 11px 30px;
  cursor: pointer;
}

.signIn:hover {
  color: #00a03a;
  border: 2px solid #00a03a;
  transition: all 0.3s ease-in;
}

.signUp {
  margin-left: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #00a03a;
  cursor: pointer;
  padding: 12px 30px;
}

.signUp:hover {
  color: white;
}

main {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  max-height: 85vh;
}

.card-text {
  min-height: 100px;
  max-height: 100px;
}

.dist {
  padding-top: 63px;
}

.dist1 {
  padding-top: 85px;
}

.tree {
  padding-top: 10px;
}

.row1 {
  max-width: 30vw;
  margin-left: -150px;
  margin-right: -200px;
}

.heading {
  display: inline-block;
  font-size: 40px;
  color: #000000;
}

.green {
  display: inline-block;
  color: #00a03a;
}

.card {
  margin-right: 60px;
}
